.content{
    margin: 30vh auto;
    width: 100%;
    max-width: 450px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 0 4vh 4vh 4vh 4vh;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.content form{
    display: flex;
    flex-direction: column;
}

.content form label{

}
.content form input{
    margin: 5px;
}

.content .bartop{
    margin: 0 auto;
    align-items: center;
    background-color:var( --ufal-color2);
    width: 100%;
    max-width: 450px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 15%;
    padding: 10px;
    
}
.content .bartop strong{
    font-size: 24px;
    color:white;
    margin:0 auto;
}



